.icon_box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-size: 2.5em 2.5em;
  background-color: #f9e1e0;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
