.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  background-image: url("../../../assets/project_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.project_bg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
}

.project_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  min-height: 200px;
  z-index: 1;
  max-width: 600px;
}

.project_content {
  display: flex;
  flex-direction: column;
}

.project_content > b {
  margin-bottom: 10px;
}

.project_nextbtn {
  margin-top: 10px;
}

.project_para {
  color: black;
  font-weight: 600;
}

.project_screenshot > img {
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  margin-right: 50px;
  transition: transform 450ms;
}

.project_screenshot > img:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 400px) {
  /* .project_bg {
    display: flex;
    flex-direction: column;
  } */

  .containerr {
    background-size: cover;
    width: 400px;
  }
}
